# Required
API_KEY=inp_xxxxx
BASE_URL=https://sundsvall.backend.intric.ai/api/v1

# Either specify a space ID ...
#SPACE_ID=

# ... OR a space name (only if SPACE_ID is not given):
SPACE_NAME=boll

# How often (in minutes) to run each crawl
SCHEDULE_MINUTES=5

# The website URLs or IDs to filter (comma separated)
WEBSITE_FILTER=https://kunskapsguiden.se/,https://freedomhouse.org/country/brazil/freedom-world/2024
